body {
   background-color: #fff;
   color: #434455;
   font-family: Roboto, sans-serif;
   font-size: 16px;

   ul {
      list-style-type: none;
   }
}


.logo {
   color: #4d5ae5;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   text-decoration-skip-ink: none;
}

.text-blue {
   color: #2e2f42;
}

.text-blue:hover, .text-blue:focus {
   color: #404bbf;
}

.font-style-adress {
   font-style: normal;
}


.adress-a {
   font-size: 16px;
   letter-spacing: 0.02em;
   color: #434455;
}

.adress-a:hover, .adress-a:focus {
   color: #404bbf;
}

.navigation-list {
   font-weight: 500;
   letter-spacing: 0.02em;
   text-decoration-skip-ink: none;
}

.order-section {
   background-color: #2E2F42;


}

.button {
   color: #FFFFFF;
   background-color: #4D5AE5;
   font-size: 16px;
   line-height: 1.5;
   font-weight: 500;
   letter-spacing: 0.04em;
   text-align: center;
   cursor: pointer;
}

.button:hover, .button:focus {
   background-color: #404BBF;
}

.header-section {
   color: #FFFFFF;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;

}



.pros-section {

   h3 {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.02em;
      text-decoration-skip-ink: none;
   }
}

.team-section {
   background-color: #F4F4FD;

   h2 {
      font-size: 36px;
      letter-spacing: 0.02em;
      text-align: center;
      text-decoration-skip-ink: none;
   }

   img {}

   li {
      background-color: #fff;
   }
}

.portfolio-section {
   img {}

   h3 {

      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.02em;
   }
}

.page-footer {
   background-color: #2E2F42;


}

.text-white {
   color: #F4F4FD
}

.footer-text {
   color: #F4F4FD
}